<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.content {
    max-width: 500px;
    margin: auto;
}
</style>

<head>
  <title>The X-files Database</title>
  <link rel="stylesheet" type="text/css" href="style.css" title="style" />
</head>

<body>

<div class="content">


  <div id="main">
    <div id="header">
      <div id="logo">
      </div>
      <div>
        
      </div>
    </div>
    <div id="sivu_sisalto">
      <div class="sivu_palkki">
      
      </div>
      <div id="sisalto">
        <h1>Full Episodes Of the X-files series: </h1>
        
        

<table width="700" border="3" >
		<tr>
			<td>Id</td>
			<td>Title</td>
			<td>Director</td>
			<td>Airdate</td>
            <td>Episode Lenght (Minutes)</td>
            <td>Views in U.S.A (millions) </td>
			
		</tr>
		<tr th:each="epi : ${episodes}">
			
			<td th:text="${epi.EpisodeId}" /></td>
				<td th:text="${epi.name}" /></td>
				<td th:text="${epi.descript}" /></td>
				<td th:text="${epi.airdate}" /></td>
				<td th:text="${epi.elenght}" /></td>
				<td th:text="${epi.views}" /></td>
                <td><a th:href="@{/editepisode/{id}(id=${epi.EpisodeId})}">Edit</a></td>    		
 		<td><a th:href="@{/delete/{id}(id=${epi.EpisodeId})}">Delete</a></td>  		
			</tr>
			
			</table>
        

        
      </div>
    </div>
    </div>
<a href="/addepisodes">Add a new episode</a> 
</div>

</body>
</html>
