<!DOCTYPE HTML>
<html>
<meta charset=utf-8>
<style>
.content {
    max-width: 500px;
    margin: auto;
}
</style>
<body>

<div class="content">

<head>
  <title>The X-files Database</title>
  <link rel="stylesheet" type="text/css" href="style.css" title="style" />
</head>


  <div id="main">
    <div id="header">
      <div id="logo">
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="index.html">Database</a></li>
            <li><a href="Episodes.html">List of Episodes</a></li>
            <li><a href="Chars.html"> Characters </a></li>
        </ul>
      </div>
    </div>
    <div id="sivu_sisalto">
      <div class="sivu_palkki">
          <img src="ufo4.gif" alt="uhvo" height="100%" width="100%">
<img src="ufo1.gif" alt="uhvo" height="100%" width="100%">
<img src="ufo2.gif" alt="uhvo" height="100%" width="100%">
<img src="ufo3.gif" alt="uhvo" height="100%" width="100%">

<p> </p>
        <ul>
        </ul>
      
      </div>
      <div id="sisalto">
        <h1>Search for a X-Files Episode: </h1>
        <form method="post">
  Input the Episode number or parameter<br>
  <input type="text" name="Episode"><br>
<input type="submit" value="Query">

</form>

<p>Example: S01E01</p>
        
      </div>
    </div>
    </div>

</div>

</body>
</html>
